/*
      29) Menu responsive solo css  : 
        E un tipo di menu mobile first , ovvero la parte di css inizale e quella mobile e aggiungiamo quella desktop tramite le media query 

 */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181818;
}

a {
    color: grey;
}

.header {
    background-color: #212121;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #212121;
}

.header ul a {
    display: block;
    /* border-right: 1px solid red; */
    padding: 20px;
    text-decoration: none;

}

/* L'hover funziona con i cursori  */
.header ul a:hover {
    background-color: #181818;
}

.header .logo {
    float: left;
    font-size: 25px;
    padding: 10px 20px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    /* border: 1px solid red; */
    padding: 30px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background-color: grey;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
    background-color: grey;
    content: "";
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    position: absolute;
}

.header .menu-icon .nav-icon::before {
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    top: -5px;
}

.header .menu-btn{
    display:none;
}

/* la tilde(~ (alt+126) ) , indica che andiamo a lavorare su un fratello e non sulla classe menu-btn */
.header .menu-btn:checked ~ .menu {
    max-height: 240px;;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top:0;
}

@media (min-width:48em){
    .header li{
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu{
        clear : none ;
        float : right ;
        max-height:0;
    }

    .header .menu-icon{
        display:none;
    }
}