/* font-color  */
body{
    width:50%;
}

/* dd ,dt {
    line-height: 1.5;
}

dt {
    font-weight: bold;
} */

/* ul {
    list-style-type: square ;
} */

/* ol {
    list-style-type: upper-alpha ;
} */

/* ul ,ol {
    list-style-position: outside; 
} */
/* di default la list-style-position sara outside */

/* ul li {
    padding : 2rem;
    list-style-image: url("image/star.png");
    background-position: 0 0 ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    list-style-type: none;
} */