/*
      26) Media Query : 
   261) - Tipi di Media Query : all , print , screen , speech
   262) - Width ed Height 
   263) - Orientation ( landscape o modalita portrait )
   264) - Pointing devices : hover e pointer 
   265) - Logica AND 
   266) - Logica OR 
   267) - Logica NOT 
   268) - Come scegliere i breakpoint   
   269) - Servono veramente le media query ? 
 */

/* 261) - Tipi di Media Query : all , print , screen , speech : 
  Le media query ci consento di cambiare delle regole css in base a dei parametri che noi diamo .
  Abbiamo 4 tipi di media query e sono : 
  1) all : per tutte le casistiche
  2) print : per quando premiamo ctrl+p ed andiamo in modalita stampa 
  3) screen : per gli schermi che effetivamnete visitano un sito  
  4) speech : utilizzato dagli scree reader ( funzionalita leggi la pagina ad alta voce )
  
  */

body {
  background-color: rgb(224, 224, 244);
}

p {
  background-color: white;
  padding: 20px;
  width: auto;
}

/* 262) - Width ed Height : Dentro le parentesi di una media query possiamo indicare l'altezza e la width massima 
 per la nostra media query , 
   */

@media screen and (max-width: 600px),
(max-height : 600px) {
  body {
    background-color: rgb(15, 15, 223);
  }
}

/* 263) - Orientation ( landscape o modalita portrait ) : 
  il dispositvo puo essere orientato in : 
  1) landscape , quando e dritto , ad esempio quando facciamo un selfie ( height < width  )
  2) portrait , girato , ad esempio quando guardiamo un video ( height > width   )
*/

/* @media (orientation: landscape) {
  body {
    background-color: rgb(223, 15, 206);
    height
  }
}  */


/* @media (orientation: portrait) {
  body {
    background-color: rgb(223, 15, 15);
  }
}  */

/* 264) - Pointing devices : hover e pointer 
  pointing devices puo essere di due tipi : 
  hover : verra usato solo dai pc , perche abbiamo il cursore e possiamo metterlo sopra un elemento
   , mentre sui dispotivi mobili (telefono e desktop non possiamo farlo , quindi una media query hover non sara mai usato su un dispositivo mobile )
  pointer : coarse ;  per i dispositivi mobili peche non hanno un sistema di puntamento   
  
  */

/* @media (hover: hover) {
  body {
    background-color: rgb(226, 145, 39);
  }
}  */

/* @media (pointer: coarse) {
  body {
    background-color: rgb(226, 145, 39);
  }
}  */


/* 265) - Logica AND : and e indicato dalla parola and  , entrambe le condizione vere per eseguire la regola css */

/* @media (max-width: 1200px) and (orientation: landscape) {
  body {
    background-color: rgb(15, 15, 223);
  }
} */


/* 266) - Logica OR : or e indicato dalla virgola , o una o l'altra condizione per eseguire la regola css */

/* @media (max-width: 500px) ,  (orientation: landscape) {
  body {
    background-color: rgb(15, 15, 223);
  }
}  */


/*  267) - Logica NOT : not e indicato dalla parola not , e andra a negare la condizione   */

 @media not screen {
  body {
    color: rgb(15, 15, 223);
  }
}  
